/* Main color */
a:hover { color: #e40000;}
.site-header.style2 .topnav.social-icons { top: 0;}
@media screen and (min-width: 992px) {
	.main-nav > ul > li > a:before { background-color: #e40000; }
	.chaser .main-menu { margin-top: 0px;}
}
.site-header.style2 .kl-main-header { border-bottom: 3px solid #e40000;}
.tcolor { color: #e40000 !important;}
.chaser .main-menu li.active>a { background: #e40000 !important;}
.kl-cta-ribbon { background: #e40000;}
.kl-cta-ribbon .trisvg path {fill: #e40000;}
.hover-box:hover { background-color: #e40000 !important;}
.site-header .kl-header-toptext a { color: #e40000;}
.custom-position2 { background-color: rgb(226, 64, 0, 0.7) !important;}
.circle-text-box .wpk-circle-title { color: #e40000;}
.circle-text-box .wpk-circle-span:after { background-color: #e40000;}
.circle-text-box.style2 .wpk-circle-span::before { background: #e40000;}
.btn-lined.lined-custom { color: #e40000; border-color: #e40000;}
.gobox.ok:before, 
.gobox.ok:after, 
.gobox.ok { background-color: #e40000;}
.m_title { color: #e40000;}
.recentwork_carousel_v3 .btn::before { background-color: #e40000;}
.recentwork_carousel_v3 .recentwork_carousel__cat { background-color: #e40000;}
.newsletter-signup input[type=submit] { background: #e40000;}
.logo-container .logo-infocard { background: #e40000;}
.static-content__infopop .sc-infopop__btn { color: #e40000; }
.services_box--modern .services_box__fonticon { color: #e40000;}
.services_box--modern .services_box__icon {box-shadow: inset 0 0 0 2px #e40000;}
.services_box--modern:hover .services_box__icon { box-shadow: inset 0 0 0 40px #e40000;}
.services_box--modern .services_box__list li:before { box-shadow: 0 0 0 2px #e40000;}
.services_box--modern .services_box__list li:hover:before { box-shadow: 0 0 0 3px #e40000;}
.services_box--boxed .services_box__fonticon,
.services_box--boxed .services_box__list li { color: #e40000;}
.circlehover:before,
.circlehover { background: #e40000;}
.how_to_shop .number { background-color: #e40000; }
.hg-portfolio-sortable #portfolio-nav li a:hover, 
.hg-portfolio-sortable #portfolio-nav li.current a { background: #e40000;}